@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;700&display=swap');

@font-face{
    font-family: "Century Gothic";
    src: url("/dist/gothic.woff") format("woff");
    src: url("/dist/gothic.eot");

}

body {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    background: rgb(25, 25, 25) no-repeat;
    color: white;
    width: 100%;
    height: 100%;
    /* background-size: cover; */
}

.navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }


.navicon:before,
.navicon:after {
  background: rgb(255, 255, 255);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .menu {
max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

/* header, header ul, header ul a{
    display: flex;
    color: white;
    text-decoration: none;
}

header ul a{
    margin: 0rem .4rem;
    padding: .1rem .4rem .1rem .4rem;
    border: 1px solid rgba(7, 0, 0, 0);
    transition-duration: .2s;
}

header ul{
    height: max-content;
    margin-top: .5rem;
    margin-left: auto;
}

header ul a:hover{
    border: .05rem solid white;
    color: rgba(255, 255, 255, 0.83);
}

header ul li{
    list-style: none;
}
.menu-wrapper{
    display: flex;
    margin-left: auto;

    margin-right: 5%;
}
.center{
    text-align: center;
    margin: 0px auto;
}
#burger-menu{
    display: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(219, 219, 219);
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    height: max-content;
}
#logo-brand{
    display: flex;
    margin-left: 2rem;
    height: max-content;
}
#logo-brand img{
    width: 50px;
}
#logo-brand h3{
    margin: auto 0px auto 1.2rem;
}

.projects-navigation{
    /* display: flex; */
    /* justify-content: center;
}
.projects-navigation h5{
    margin: auto 20px;
}
.projects-navigation button{
    background-color: rgba(7, 0, 0, 0);
    border: .05rem solid rgba(255, 255, 255, 0);
    padding: 10px 13px;
    border-radius: 10rem;
    margin: auto 0rem;
    transition-duration: .2s;
    color: rgba(255, 255, 255, 0.763);
}
.projects-navigation button:hover{
    border: 1px solid rgba(255, 255, 255, 0.763);
    margin: auto 0rem;
}

.body-wrap__welcome-content{
    font-size: 1rem;
    padding: .5rem;
} */

/* #project-next{
    cursor: pointer;
}

main{
    padding-top: 10rem;
} */ 

@media only screen and (max-width: 760px) {
    header ul {
        display: none;
    }
    #logo-text{
        display: none;
    }
    #burger-menu{
        display: block;
    }
}