

html{
    font-size: 16px;
}

body {
    font-family: 'Manrope', monospace, Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    background: radial-gradient(
        500px circle at var(--mouse-x) var(--mouse-y), rgba(29, 78, 216, 0.15), transparent 80%);
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -2;
    filter: blur(40px);
}

.navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
}

#projects-btn,
#resume-btn,
#contact-btn {
    opacity: 0;
    animation: fadeDown 8s ease forwards;
    animation-delay: calc(var(--order) * 200ms);
}

@keyframes fadeDown {
    20% {
        opacity: 0;
        transform: translateY(-80%);
    }

    30%, 100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInCustom {
    20% {
        opacity: 0;
    }

    30%, 100% {
        opacity: 1;
    }
}

#logo-text {
    opacity: 0;
    animation: fadeInCustom 8s ease-in-out forwards;
    animation-delay: calc(var(--order) * 200ms);
}
/* About Me CSS */

.tech-stack-container > div > ul {
    display: flex;
    flex-wrap: wrap;
}

.tech-stack-container > div > ul > li{
    /* From https://css.glass */
    padding: 8px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: .2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-right: .5rem;
    margin-bottom: .5rem;
    
}


/* === About Me END == */
#icons img {
    width: 2.5em;
    margin-top: .8em;
    margin-right: 1em;
}

.navicon:before,
.navicon:after {
  background: rgb(255, 255, 255);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

#go-down-button {
    transition: all .3s ease;
    border-radius: 10em;
    color: #FFFFFF;
}

@media (hover: hover) {
    #go-down-button:hover {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.233);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.1px);
        -webkit-backdrop-filter: blur(5.1px);
        /* border: 1px solid rgba(255, 255, 255, 0.171); */
    }
}

@media (hover: none) {
    #go-down-button:hover {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.089);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.1px);
        -webkit-backdrop-filter: blur(5.1px);
        /* border: 1px solid rgba(255, 255, 255, 0.171); */
    }
}

#go-down-button:active {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}

#welcome {

}

#dev-projects {
    /* background: url("../images/bg_galaxy.jpg"); */
    background-size: cover;
    
}

#burger-menu {
    cursor: pointer;
}

#navbar-links.active {
    display: flex;
}

#navbar-links {
    transition: max-height 1s ease;
}

.glass {
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-projects {
    width: 100%;
    height: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.filter-orange {
    filter: invert(45%) sepia(10%) saturate(5616%) hue-rotate(331deg) brightness(104%) contrast(103%);
}

input[type=text], textarea {
    padding: 5px;
    color: #FFFFFF;
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

textarea {
    width: 100%;
    max-width: 25rem;
    transition: .3s ease;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

textarea:focus, 
textarea:hover,
input[type=text]:focus, 
input[type=text]:hover{
    /* From https://css.glass */
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    outline: none;
}


button[type=submit] {
    background-color: white;
    border-radius: .5rem;
    width: max-content;
    padding: .5rem 1rem;
}

/* xl screen */
@media only screen and (min-width: 1280px) {
    header {
        height: max-content;
    }
    #profile-image img {
        
    }

    #footer-1, #footer-2, #footer-3 {
        width: 33%;
    }
}

@media only screen and (max-width: 1280px) {
    body::before {
        display: none;
    }
    #logo-text {
        opacity: 0;
        animation: fadeInCustom 6s ease forwards;
        animation-delay: calc(var(--order) * 200ms);
    }
    #projects-btn,
    #resume-btn,
    #contact-btn {
        opacity: 0;
        animation: fadeDown 4s ease forwards;
        animation-delay: calc(var(--order) * 200ms);
    }

    @keyframes fadeDown {
    
        10%, 100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInCustom {

    
        30%, 100% {
            opacity: 1;
        }
    }
    
}